/* color
light_blue: #DDE2F4,
dark_blue: #08102A,
solid_gold: #B68F04,
light_yellow: 20% solid_gold
title_red: #950909 */

body {
  font-family: 'Open Sans', sans-serif;
}

section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(4em);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
}

section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-stretch: extra-expanded;
  text-shadow: 2px 2px 20px #08102a;
  letter-spacing: 5px;
  color: #ffff;
  font-weight: 600;
}

h2 {
  margin-bottom: 50px;
  text-align: center;
  color: #08102a;
  font-weight: 600;
}

h4 {
  color: #b68f04;
  font-weight: 600;
  text-align: center;
}

#steps h5 {
  font-size: 0.95rem;
  text-align: center;
}

h5.card-title {
  color: #b68f04;
  text-align: center;
  font-weight: 600;
  padding: 5px;
}

img {
  max-width: 100%;
}

form {
  width: 675px;
}

#title {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#benefit {
  background-color: #dde2f4;
}

#steps h4 {
  margin-bottom: 50px;
}

.ital {
  font-style: italic;
  font-size: 1.75rem;
}

.form-label {
  font-weight: 600;
}
.required-label {
  background-color: #950909;
  color: #fff;
  margin-left: 12px;
  padding: 1px 8px;
  font-size: 0.6rem;
  border-radius: 2px;
}
.form-check-row {
  padding-left: 12px;
}
#other-city {
  transform: translateX(30px);
  width: 180px;
  height: 28px;
  font-size: 0.9rem;
  padding-left: 6px;
}
.title_image {
  background-image: url(./assets/room.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 34vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-subheading {
  font-size: 0.8rem;
}
.sub-title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
}

.sub-title > div {
  padding: 5px 15px;
  background-color: #b68f04;
  color: #ffff;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.title-text {
  padding: 20px 60px;
  line-height: 1.7;
}

.map {
  margin-bottom: 40px;
}

.map img {
  width: 100%;
}

.card {
  height: max-content;
  min-height: 400px;
}

.card-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 63px;
}

.step-container {
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(182, 143, 4, 0.2);
  max-width: 765px;
}

.step-container-vert {
  display: none;
}

.purchase {
  margin-bottom: 50px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0 0;
  min-height: 136px;
  min-width: 82px;
  max-width: 100px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  margin-bottom: 8px;
}

.material-icons-round.md-36 {
  font-size: 36px;
  color: #525252;
}

.submit-button {
  font-size: 1.2rem;
  padding: 5px 32px;
  background-color: #b68f04;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.submit-button:hover {
  background-color: rgb(182, 143, 4, 0.6);
}

@media only screen and (min-width: 800px) {
  .step-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(182, 143, 4, 0.2);
    min-width: 900px;
    max-width: 1200px;
  }
}

@media only screen and (max-width: 765px) {
  section {
    padding: 40px;
  }

  h1 {
    font-size: 2.05rem;
  }

  h2 {
    margin-bottom: 40px;
  }

  form {
    width: 330px;
  }

  p {
    margin: 0;
  }

  .title_image {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sub-title {
    padding: 25px;
  }

  .sub-title > div {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #b68f04;
    color: #ffff;
    font-weight: 700;
    font-size: 0.63rem;
    letter-spacing: 1.5px;
  }

  .step-container {
    display: none;
  }

  .step-container-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .step-container-vert .step {
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(182, 143, 4, 0.2);
    box-shadow: 1.5px 1.5px 3px rgb(177, 177, 177);
    min-height: 45px;
    min-width: 330px;
    max-width: 1200px;
  }

  .required-label {
    background-color: #950909;
    color: #fff;
    margin-left: 4px;
    padding: 1px 5px;
    font-size: 0.6rem;
    border-radius: 2px;
  }
}
